body {
  background-color: #f7f9fa;
}

svg {
  overflow: visible;
  margin: 10px 0px 0px 10px;
}

.card {
  margin-bottom: 1em;
}

.card-header {
  background-color: #e9eef2;
}

.card-body {
  background-color: #fff;
}
